
/* Prevents the fixed-top navbar from eating the body content */

header h1 {
  font-family:'Times New Roman', Times, serif;
  background-color: #4AAAA5;
  font-size: 1.75rem;
  font-weight:bold;
}

body { 
  margin-top: 60px;
  min-height: 400px;
  margin-bottom: 80px;
}
/* Prevents the fixed-bottom  */

h2 {
  font-family:'Times New Roman', Times, serif;
  color: #4AAAA5;
  font-size: 2.5rem;
  font-weight: bold;
}

.bg {
  background-image: url("https://images.pexels.com/photos/3377414/pexels-photo-3377414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.about-me {
  background-color: #ffffff;
  padding: auto;
}

.btnstyle {
  background-color:#4AAAA5;
  border-radius:0;
  border:0;
}

footer {
    background-color: #666666;
    border-top: 6px solid;
    border-color:#4AAAA5;
    color: #6B737A;
  }

.formstyle {
  border-radius:0;
}

.form-group {
  margin-left: 8px;

}