
h1 {
  font-family:'Times New Roman', Times, serif; 
  font-size: 2rem;
}

#navhead {
  color:#343a40;
}

.navbar {
  background-color: #A6C8CA;
}

body { 
  margin-top: 80px;
  min-height: 400px;
  margin-bottom: 30%;
}
/* The addition of the margin-top and margin-bottom prevrents the overlap of the fixed-top navbar and fixed-bottom footer. Min-height preventing content from being swallowed by footer in mobile view. */

h2 {
  font-family:'Times New Roman', Times, serif;
  color: #a6c8ca; 
  font-size: 2.5rem;
  font-weight: bold;
}

.bg {
  background-image:  url("https://images.pexels.com/photos/3377414/pexels-photo-3377414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1000&w=2500");
  min-height: 100%;
  width: auto;
  height: auto;
  background-position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}
/* Note: Need to work on making the background image more responsive in future iterations. Still tiles in mobile view toward the bottom. */


.about-me {
  background-color: #ffffff; 
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
/* Container styling class. */ 

.amimage {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
/* Styling for profile image. */

.portimage {
  border-radius: 10px;
  height: 300px;
  width: auto;
  border: 2px solid #A6C8CA;
 
}

h3 {
  color:#a6c8ca; 
}

.btnstyle {
  background-color:#A6C8CA;
  border-radius:10px;
  border:0;
}

.formstyle {
  border-radius:10px;
}

footer {
    background-color: #666666;
    border-top: 6px solid;
    border-color:#A6C8CA;
    color: #6B737A;
  }




